<h1>Creating Courses</h1>
<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

<%= form_for @course  do |f| %>
  <p>
    <%= f.label :course_name%><br>
    <%= f.text_field :course_name %>
  </p>
  <p>
    <%= f.label :duration %><br>
    <%= f.text_area :duration %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <% end %>
  