Trainer Profile
<p>


Student Name:
 <%= @trainer.first_name %><br>
 Employment Number:<br>
 <%=@trainer.employee_number %><br>
 Joining_date:<br>
 <%=@trainer.joining_date%><br>
 
 
 Gender:<br>
 <%=@trainer.gender%><br>
 Qualification:
 <%=@trainer.qualification %><br>
 Experience Details:<br>
 <%=@trainer.experience_detail%><br>
 Address:<br>
 <%=@trainer.home_address%><br>
 Phone No:<br>
 <%=@trainer.mobile_phone%><br>

 </p>

<tr>
 <td><%= link_to 'Back' ,:back%></td>
 </tr>